{% extends 'base.html' %} {% block content %}

<div class="row justify-content-center">
    <div class="col-sm-2">
        <form method="POST">
            {{ form.csrf_token }}
            <div>
                {% if form.name.errors %} 
                
                {% for error in form.name.errors %}
                <span class="text-danger">
                  {{ error }}
                </span> 
                {% endfor %} {% endif %} 
                {{ form.name(placeholder="Enter a board name", class="form-control", rows="3") }}
            </div>
            <button class="btn btn-outline-success btn-block">Add Board</button>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    <h2>Boards</h2>
</div>
<div class="row justify-content-center">

    <div class="col-sm-4">
        <ul class="list-group" id="boards">

            {% for board in boards %}

            <li class="list-group-item">
                <a href="/boards/{{ board.name }}" class="board-link"> {{board.name}} </a>
            </li>
            {% endfor %}

        </ul>
    </div>
</div>

{% endblock %}