{% extends 'base.html' %} 

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-2">
        <form method="POST">
            {{ form.csrf_token }}
            <div>
                {% if form.name.errors %} 
                
                    {% for error in form.name.errors %}
                        <span class="text-danger">
                            {{ error }}
                        </span> 
                    {% endfor %} 

                {% endif %}

                {{ form.name(placeholder="Enter a board name", class="form-control", rows="3") }}
            </div>
            <button class="btn btn-outline-success btn-block">Add Board</button>
        </form>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <h4>Boards</h4>
</div>
<br> 

{% if g.user %}
<div class="row justify-content-center">
    <div class="col-sm-4">
        <ul class="list-group">

            {% for board in boards %}
            <li class="row">
                <div class="col-sm-6">
                    <h5>
                        <a href="/boards/{{ board.id }}" class="board-link"> {{board.name}} </a>
                    </h5>
                </div>
                <br>
                <div class="col-sm-2">
                    <form method="POST" action="/boards/{{ board.id }}/delete">
                        <button class="btn btn-sm btn-outline-danger">Delete</button>
                    </form>
                </div>
                <br>
            </li>
            <div class="row justify-content-center"></div>
            {% endfor %}

        </ul>
    </div>
</div>
{% endif %} 

{% endblock %}