{% extends 'base.html' %} 

{% block title %} Categories {% endblock %} 

{% block content %}

<div class="content">
    <h4>Headlines</h4>
</div>

<form action="/categories" method="GET">
    <div class="row">

        {{ form.hidden_tag() }} 
        
        {% for field in form if field.widget.input_type != 'hidden' %} 
            
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}

                <div class="col-sm-2">
                    {{ field(placeholder=field.label.text, class="form-control") }}
                </div>

        {% endfor %}

        <div class="col-sm-2">
            <input type="submit" class="form-control btn btn-outline-primary" name="btn_submit" value="categories">
        </div>

    </div>

</form>

{% include "_articles.html" %} 

<br>
{% if btn_submit == "categories" %}
<div class="row justify-content-lg-center">
    {% for page_num in pagination.pages %}
        {% if page_num %}
            {% if pagination.page == page_num %}
                <a class="btn btn-primary mb-4 margin-left" href=
                "{{ url_for(page_name, page=page_num, country=country, 
                btn_submit=btn_submit, category=category) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-primary mb-4 margin-left" href=
                "{{ url_for(page_name, page=page_num, country=country, 
                btn_submit=btn_submit, category=category) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}