{% extends 'base.html' %} 

{% block title %} Categories {% endblock %} 

{% block content %}

<div class="content">
    <h4>Headlines</h4>
</div>

<form action="/categories" method="GET">
    <div class="row">

        {{ form.hidden_tag() }} 
        
        {% for field in form if field.widget.input_type != 'hidden' %} 
            
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}

                <div class="col-sm-2">
                    {{ field(placeholder=field.label.text, class="form-control") }}
                </div>

        {% endfor %}

        <div class="col-sm-2">
            <input type="submit" class="form-control btn btn-outline-primary"
             name="btn_submit" value="categories">
        </div>

    </div>

</form>

{% for data in news %}

<ul class="list-unstyled">
    <li class="media">
      
        <a href="{{data['url']}}" target="_blank">
            <img src="{{ data['urlToImage'] }}" class="rounded d-flex mr-3" alt="..." target="_blank">
        </a>

        <div class="media-body">
            <div class="mt-0 font-weight-bold">
                <a href="{{data['url']}}" target="_blank">
                    <h6>{{ data['title'] }}</h6>
                </a>
                <small class="text-muted">{{ data['publishedAt'] }}</small>
            </div>
            <p>{{ data['description'] }}</p>
            <small class="text-muted">{{ data['author'] }}</small>
        </div>
        <span class="">
          <div class="col-sm-2">

                {% if g.user %}
                <button type="button" class="btn btn-sm btn-outline-info" data-placement="top" data-toggle="popover" data-html='true' data-content="
                    <div class='text-center'>
                        <h6>Add to Board</h6>
                    </div>
                    <form class='board-form'>
                      <input type='hidden' id='feed_id' value='{{ feed_id }}'>
                      <input type='hidden' id='url' value='{{ data['url'] }}'>
                      <input type='hidden' id='source_id' value='{{ data['source']['id'] }}'> 
                      <input type='hidden' id='author' value='{{ data['author'] }}'> 
                      <input type='hidden' id='title' value='{{ data['title'] }}'> 
                      <input type='hidden' id='description' value='{{ data['description'] }}'> 
                      <input type='hidden' id='img_url' value='{{ data['urlToImage'] }}'> 
                      <input type='hidden' id='published_at' value='{{ data['publishedAt'] }}'>   
                      <input type='hidden' id='content' value='{{ data['content'] }}'> 
                      <label for='board_id'></label>
                      <select id='board_id'class='custom-select' multiple>
                          {% for board in boards %}

                              <option value='{{board['id']}}' 
                              {% if (board['id'], data['url']) not in article_boards %}
                                  enabled
                              {% else %}
                                  disabled style='background-color:yellow'
                              {% endif %}
                              >{{board['name']}}</option>

                          {% endfor %}
                      </select>
                      <p></p>
                      <div align='center'>
                          <button class='submit-board-categories btn btn-sm btn-outline-success'>Submit</button>
                      </div>
                      
                    </form>
                    ">Add
                </button>
                {% endif %}
                
          </div>
      </span>
    </li>
</ul>

{% endfor %}

<br>
{% if btn_submit == "categories" %}
<div class="row justify-content-lg-center">
    {% for page_num in pagination.pages %}
        {% if page_num %}
            {% if pagination.page == page_num %}
                <a class="btn btn-primary mb-4 margin-left" href=
                "{{ url_for(page_name, page=page_num, country=country, 
                btn_submit=btn_submit, category=category) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-primary mb-4 margin-left" href=
                "{{ url_for(page_name, page=page_num, country=country, 
                btn_submit=btn_submit, category=category) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}