{% extends 'base.html' %} {% block title %} Search {% endblock %} {% block content %}
<h1>News</h1>

<div class="class-list">
    {% for data in news %}
    <a href="{{data['url']}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ data['title'] }}</h5>
            <small class="text-muted">{{ data['publishedAt'] }}</small>
        </div>
        <p class="mb-1">{{ data['description'] }}</p>
        <small class="text-muted">{{ data['author'] }}</small>
        <!-- <img src="{{ data['urlToImage'] }}" alt="Image for {{ data['title'] }}" class="card-image"><br> -->
    </a>

    {% endfor %}
</div>

{% endblock %}