{% extends 'base.html' %} 

{% block title %} Headlines {% endblock %}

{% block content %}

<div class="content">
    <h4>Headlines</h4>
</div>

<form action="/headlines" method="GET">
    <div class="row">
        <div class="col-sm-2">

            {{ form.hidden_tag() }} 
            {% for field in form if field.widget.input_type != 'hidden' %} 
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %} 
                
                {{ field(placeholder=field.label.text, class="form-control") }} 
             {% endfor %}

        </div>
        <div class="col-sm-2">
            <input type="submit" class="form-control btn btn-outline-primary">
        </div>

    </div>

</form>
{% include "_articles.html" %}

{% endblock %}