{% extends 'base.html' %} {% block title %} Adv-search {% endblock %} {% block content %}

<div class="content">
    <h4>Headlines</h4>
</div>


<form action="/search" method="POST">
    <div class="row">
        <div class="col-sm-1.5">
            <label for="fromDate">From:</label>
        </div>

        <div class="col-sm-2">
            <input type="date" id="fromDate" name="fromDate" class="form-control">
        </div>
        <div class="col-sm-1.5">
            <label for="toDate">To:</label>
        </div>

        <div class="col-sm-2">
            <input type="date" id="toDate" name="toDate" class="form-control">
        </div>
        <div class="col-sm-3">
            <input name="q" class="form-control" placeholder="Search">
            <button class="btn btn-default" name="btn-search" value="date-base">
            <span class="fa fa-search"></span>
            </button>
        </div>
    </div>

</form>

{% include "_articles.html" %} {% endblock %}