{% extends 'base.html' %} {% block title %} Headlines {% endblock %} {% block content %}

<div class="content">
    <h4>News Sources</h4>
</div>

<div class="row">

    {% for source in sources %}

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ source['name']}}</h5>
                <p class="card-text">{{ source['description']}}</p>
                <a href="{{ source['url']}}" class="btn btn-outline-success">{{ source['name']}}</a> {% if g.user %}
                <button type="button" class="btn btn-sm btn-outline-info" data-placement="top" data-toggle="popover" data-html='true' data-content="
                    <h6>Add to Feed</h6>
                    <form class='feed-form'>
                        <input type='hidden' id='source_id' value='{{ source['id']}}'>                       
                        <label for='feed_id'></label>
                        <select id='feed_id'class='custom-select' multiple>
                            {% for feed in feeds %}
                                <option value='{{feed['id']}}'>{{feed['name']}}</option>
                            {% endfor %}
                        </select>
                        <p></p>
                        <div align='center'>
                            <button class='submit-feed btn btn-sm btn-outline-success'>Submit</button>
                        </div>
                        
                    </form>">+F
                </button>
                {% endif %}

            </div>

        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}