{% extends 'base.html' %} {% block content %}

<div class="row justify-content-lg-center">
    <h4>{{ user.username }}'s profile</h4>
</div>
<br>

<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col col-lg-2">
            <h5>User name:</h5>
        </div>
        <div class="col col-lg-2">
            <h5>{{ user.username}}</h5>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <h5>Email:</h5>
        </div>
        <div class="col col-lg-2">
            <h5>{{ user.email}}</h5>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <h5>Country:</h5>
        </div>
        <div class="col col-lg-2">
            <h5>{{ user.country}}</h5>
        </div>
    </div>
    <br>
    <Form action="/users/delete" method="POST" class="row justify-content-md-center">
        <button type="submit" class='btn btn-md btn-outline-danger'>Delete User</button>
    </Form>
</div>
{% endblock %}